/* Font Face */
@font-face {
  font-family: "YekanBakh Regular";
  src: local("YekanBakh Regular"), url("./../fonts/YekanBakh-Regular.woff");
}
@font-face {
  font-family: "YekanBakh Medium";
  src: local("YekanBakh-Medium"), url("./../fonts/YekanBakh-Medium.woff");
}
@font-face {
  font-family: "YekanBakh-Heavy";
  src: local("YekanBakh-Heavy"), url("./../fonts/YekanBakh-Heavy.woff");
}
@font-face {
  font-family: "YekanBakh-Bold";
  src: local("YekanBakh-Bold"), url("./../fonts/YekanBakh-Bold.woff");
}

/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* App CSS */

*,
*:before,
*:after {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
  font: inherit;
  background-color: inherit;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Helper Class */
.hidden {
  display: none;
}

body {
  font-family: "YekanBakh Medium", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  color: #1d2939;
}
.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  width: 100%;
  z-index: 6666;
  position: relative;
  background: #fff;
}
.header > .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 22px;
}
.mobile-nav {
  display: none;
}

.mobile-nav__menu-icon,
.mobile-nav__cart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header-logo {
  width: 108px;
  height: 24px;
}
.header-list {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 24px;
}

.header-link {
  transition: all 120ms ease-in;
}
.header-link:hover {
  color: #2ec4b6;
}
.header-item--with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}
.arrow-up-icon {
  width: 14px;
  height: 14px;
}

.sub-menu__wrapper {
  /* opacity: 0; */
  /* visibility: hidden; */
  display: none;
  position: absolute;
  right: 0;
  top: 24px;
  transition: all 100ms ease-in;
  background: transparent;
}
.header-item:hover .sub-menu__wrapper {
  display: block;
  /* opacity: 1;
  visibility: visible; */
  /* todo Display: none; */
}

.sub-menu__item-wrapper {
  transition: all 120ms ease-in;
}

.sub-menu__items {
  position: relative;
  width: 440px;
  height: 288px;
  margin-top: 26px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #fff;
  border: 1px solid #e1e1e1;
  overflow: hidden;
}
.sub-menu_item {
  width: 240px;
  height: 48px;
  padding: 12px 20px;
  background: #f4f4f5;
  display: flex;
  justify-content: space-between;
}
.sub-menu__item-wrapper:hover .sub-menu_item {
  background-color: #fff;
}
.sub-menu-icon {
  width: 14px;
  height: 14px;
  transform: rotate(90deg);
}

.sub-menu_links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 20px 20px 20px 50px;
  display: none;
  flex-direction: column;
  row-gap: 16px;
  transition: all 120ms ease-in;
}

.sub-menu__item-wrapper:hover .sub-menu_links {
  display: flex;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.sub-menu_link {
  display: block;
  height: 21px;
  font-size: 14px;
}

/*! Header Left */
.header-left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
}
.shopping-cart {
  position: relative;
  z-index: 6666;
}
.shopping-cart__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  position: relative;
  background: #ffffff;
}
.shopping-bag {
  width: 22px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #fff;
  background: #2ec4b6;
  font-size: 10px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: -3px;
  right: -4px;
}
.shopping-icon {
  width: 24px;
  height: 24px;
}

.shopping-cart__content {
  width: 320px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 63px;
  padding: 16px 20px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  border-top: 1px solid #e5e5e5;
  transition: all 120ms ease-in;
}
.shopping-cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 16px;
  margin-bottom: 12px;
}
.shopping-cart__title {
  font-family: "YekanBakh-Bold", sans-serif;
}
.shopping-cart__counter {
  font-size: 14px;
  font-family: "YekanBakh-Regular", sans-serif;
}

.article {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  position: relative;
}
.product__details {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.product__description {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.product__name {
  font-size: 14px;
  width: 154px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product__price-number {
  font-family: "YekanBakh-Bold", sans-serif;
  display: inline-block;
  margin-left: 4px;
}
.product__price-unit {
  font-family: "YekanBakh-Regular", sans-serif;
  font-size: 14px;
  color: #667085;
}
.product__remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__remove {
  width: 22px;
  height: 22px;
}

/* Mobile Style*/

.product__remove-btn-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -4px;
  top: -2px;
  cursor: pointer;
}
.cart__footer {
  padding-top: 16px;
  margin-top: 12px;
  border-top: 1px solid #e5e5e5;
}
.cart__footer-mobile {
  margin-top: auto;
}
.cart__total-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__total-amount-title {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.cart__total-amount-icon {
  width: 24px;
  height: 24px;
}
.cart__total-amount-text {
  font-family: "YekanBakh-Bold", sans-serif;
  color: #1d2939;
}

.cart__total-amount-price {
  font-family: "YekanBakh-Bold", sans-serif;
  color: #1d2939;
  display: inline-block;
  margin-right: 4px;
}
.cart__total-amount-unit {
  font-family: "YekanBakh-Regular", sans-serif;
  font-size: 14px;
  color: #1d2939;
}

.auth-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2ec4b6;
  column-gap: 4px;
  width: 142px;
  height: 48px;
  border: 1px solid #2ec4b6;
  border-radius: 10px;
  font-weight: 500;
}
.auth-links-icon {
  width: 24px;
  height: 24px;
}

.container-shape {
  background: #2ec4b6;
  height: 340px;
  border-radius: 16px;
  margin-top: 48px;
}

/* Mobile Cart */

.mobile-cart,
.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: #ffffff;
}
.mobile-cart {
  left: 0;
  width: 280px;
  padding: 20px;
}
.mobile-cart__header,
.mobile-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e7eb;
}
.mobile-cart__title {
  font-family: "YekanBakh-Bold", sans-serif;
}
.mobile-cart__close-icon,
.mobile-menu__close-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.mobile-cart__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart__button,
.mobile-menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  width: 100%;
  padding: 12px;
  margin-top: 16px;
  border-radius: 10px;
}
.cart__button {
  background: #2ec4b6;
  color: #ffffff;
}
.mobile-menu__btn {
  background: #ffffff;
  color: #2ec4b6;
  border: 1px solid #2ec4b6;
  margin-top: auto;
}
.cart__button-icon,
.mobile-menu__icon {
  width: 24px;
  height: 24px;
}

.mobile-menu {
  right: 0;
  width: 256px;
  padding: 20px 16px;
}
.mobile-menu__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.mobile-menu__wrapper--has-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.mobile-menu__item svg {
  width: 20px;
  height: 20px;
}
.mobile-menu__arrow-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.rotate {
  transform: rotate(180deg);
}
.mobile-menu__sub-menu {
  display: none;
  flex-direction: column;
  row-gap: 10px;
  font-size: 14px;
  color: #667085;
  padding-right: 28px;
  margin-top: 11px;
  transition: all 120ms ease-in;
}
.mobile-menu__sub-menu--show {
  display: flex;
}

/*! overlay */
.overlay,
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5555;
  transition: all 120ms ease-in;
}

.nav {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 16px;
  left: 16px;
  color: #fff;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  height: 72px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 24px;
  background: #1d2939;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.nav-links-right {
  padding-right: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
.nav-links-left {
  padding-left: 12px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  /*width: 42px;*/
  flex-shrink: 1;
}
.nav-link-active {
  color: #2ec4b6;
}
.nav-link svg {
  width: 22px;
  height: 22px;
}
.nav-shape {
  height: 72px;
  width: 98px;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}
.nav-shape-icon {
  height: 100%;
  width: 100%;
}

.center-curve {
  width: 64px;
  height: 64px;
  background: #2ec4b6;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 40px;
  margin: 0 auto;
}

.center-curve-icon {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 768px) {
  .header {
    z-index: auto !important;
  }
  .header-list,
  .header-left {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header > .container {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 20px;
  }
  .container-shape {
    margin-top: 34px;
  }
  .nav {
    display: block;
  }
}

@media screen and (max-width: 340px) {
  .nav-links {
    column-gap: 10px;
    justify-content: space-between;
  }
  .nav-bar {
    font-size: 10px;
  }
}
